body{
	min-width: 1122px;
	color: #ffffff;
	line-height: 24px;
	font-size: 14px;
	font-family: 'PT Sans Narrow', 'Arial', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	background: #000000 url("/static/img/index-bg.jpg") no-repeat 50% 3px;
	/*width: 960px;*/
}

ul{
	list-style: none;
}

main{
	min-height: 465px; 
}
.container{
	width: 940px;
	min-width: 940px;
	margin: 0 auto;
	padding: 0 10px;
	position: relative;
}
.clearfix::after{
	content: "";
	display: table;
	clear: both;
}
.btn{
	line-height: 24px;
	font-size: 14px;
	font-family: 'PT Sans Narrow', 'Arial', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	color: #ffffff;
	text-decoration: none;
	border: none;
	padding: 10px 35px;
	background-color: #000000;
	border-radius: 0px;
}
.btn:hover{
	background-color: #663d15;
}
/*=============================*/

header{
	background-color: #000000;
}
.main-header{
	margin-bottom: 30px;
}

.main-navigation{
	float: left;
	width: 700px;
}
.main-navigation .logo a{
	padding-bottom: 15px;
}
.main-navigation a{
	display: block;
	padding: 24px 20px;
	text-decoration: none;
	color: #ffffff;
}
.main-navigation a:hover{
	background-color: #242424;
}
.main-navigation ul{
	font-size: 0px;
	margin: 0;
	padding: 0;
}
.main-navigation li{
	font-size: 16px;
	line-height: 20px;
	display: inline-block;
	vertical-align: top;
}
.user-block{
	position: relative;
	float: right;
	margin-left: 80px;
}
.log{
	display: block;
	padding: 24px 20px;
	padding-left: 50px;
	font-size: 16px;
	line-height: 20px;
	text-decoration: none;
	color: #ffffff;
}
.log:hover{
	background-color: #242424;
}
.log::before{
	content: "";
	position: absolute;
	width: 18px;
	height: 18px;
	top: 27px;
	left: 20px;
	background: url(/static/img/sprite.png) no-repeat -10px -176px;
	opacity: 0.3;
}
.log:hover::before{
	opacity: 1;
}
.office{
	font-size: 16px;
	line-height: 20px;
	position: absolute;
	display: inline;
	right: -200px;
	text-decoration: none;
	color: #ffffff;
	padding: 24px 20px;
}
.office:hover{
	background-color: #242424;
}
.bread-crumbs{
	margin-top: 30px;
	margin-bottom: 50px;
	padding-top: 0;
}
.bread-crumbs h1{
	font-size: 30px;
	line-height: 42px;
}

.bread-crumbs li{
	position: relative;
	font-size: 14px;
	line-height: 24px;
	display: inline-block;
	vertical-align: top;
	padding-right: 25px;
	margin-right: 15px;

}
.bread-crumbs li::after{
	content: "";
	position: absolute;
	background-color: #000000;
	right: 0;
	top: 50%;
	margin-top: -4px;
	width: 8px;
	height: 8px;
	transform: rotate(45deg);
}
.bread-crumbs li:last-child:after{
	width: 0px;
	height: 0px;
}
.bread-crumbs li:last-child{
	color: #aba9a7;
}
.crumbs{
	margin: 0;
	padding: 0;
}
.crumbs a{
	text-decoration: none;
}
.custom-ul-1{
	margin: 0;
	padding: 0;
}
.custom-ul-1 li{
	padding-left: 18px;
	position: relative;
}
.custom-ul-1 li::before{
	content: "";
	position: absolute;
	width: 8px;
	height: 8px;
	left: 0;
	top: 50%;
	margin-top: -4px;
	background-color: #000000;
	transform: rotate(45deg);
}
footer{
	background: #232323 url(/static/img/footer-bg.png/);
}
.main-footer{
	margin-top: 65px;
	padding-top: 60px;
	padding-bottom: 40px;
}
.footer-contacts{
	float: left;
	width: 320px;
	margin-right: 60px;
	min-height: 90px;
}
.footer-contacts a{
	color: #ffffff;
}
.footer-soc{
	float: left;
	width: 140px;
	padding: 0 20px;
	margin-right: 150px;
	min-height: 90px;
	text-align: center;
}
.footer-copyright{
	text-align: center;
	float: right;
	width: 200px;
	min-width: 200px;
	max-width: 140px;
	padding-left: 20px;
	min-height: 90px;
}
.social-btn{
	position: relative;
	display: inline-block;
	vertical-align: top;
	height: 40px;
	width: 40px;
	background: #000000 url(/static/img/sprite.png);
}

.social-btn-fb{
	margin: 0 6px;
	background-position: 3px -43px;
}
.social-btn-fb:hover{
	background-color: #ffffff;
	background-position: 3px -1px;
	transition: 0.5s;
}
.social-btn-vk{
	background-position: -3px -235px;
}
.social-btn-vk:hover{
	background-color: #ffffff;
	background-position: -3px -199px;
	transition: 0.5s;
}
.social-btn-inst{
	background-position: 0px -125px;
}
.social-btn-inst:hover{
	background-color: #ffffff;
	background-position: 0px -84px;
	transition: 0.5s;
}
.modal{
	display: none;
	color: #000000;
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 20;
}
.modal-login{
	margin-left: -230px;
	margin-top: -195px;
	width: 460px;
	/*height: 390px;*/
	background: #f8f5f2 url("/static/img/content-bg.png");
}
.modal-container{
	margin: 50px 80px;
	margin-bottom: 30px;
}
.modal-login h2{
	font-size: 30px;
	line-height: 42px;
	/*padding-bottom: 20px;*/
	margin-top: 50px;
}
.modal-login p{
	margin-bottom: 13px;
}
.modal-login input{
	line-height: 24px;
	font-size: 14px;
	font-family: 'PT Sans Narrow', 'Arial', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
}
.username, .password{
	outline: none;
	width: 100%;
	height: 40px;
	padding-left: 15px;
	border: 2px solid #000000;
}
.username:focus, .password:focus{
	border-color: #663d15;
}
.username{
	margin-bottom: 10px;
}
.password{
	margin-bottom: 15px;
}
.modal-login .remember{
	display: none;
}
.modal-login label{
	float: left;
	position: relative;
	padding-left: 30px;
}
.modal-login label:hover{
	color: #663d15;
}
.modal-login a{
	float: right;
	color: #000000;
}
.error{
	color: red;
}
.modal-login .custom-check{
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -10px;
	width: 17px;
	height: 17px;
	border: 2px solid #000000;
}
.modal-login input[type="checkbox"]:checked + .custom-check:before,
.modal-login input[type="checkbox"]:checked + .custom-check:after{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -1.5px;
	margin-left: -7.5px;
	content: "";
	width: 15px;
	height: 3px;
	background-color: #000000;
}
.modal-login input[type="checkbox"]:checked + .custom-check:before{
	transform: rotate(45deg);
}
.modal-login input[type="checkbox"]:checked + .custom-check:after{
	transform: rotate(-45deg);
}
.modal-login button[type="submit"]{
	clear: both;
	margin-top: 18px;
	width: 100%;
}
.modal-close{
	position: absolute;
	display: block;
	top: 0;
	right: -30px;
	width: 25px;
	height: 25px;
	border: 0px;
	outline: none;
	background: none;
	cursor: pointer;
}
.modal-close::before,
.modal-close::after{
	content: "";
	position: absolute;
	left: 0;
	width: 100%;
	height: 3px;
	background: #d0d0d0;
}
.modal-close::before{
	transform: rotate(45deg);
}
.modal-close::after{
	transform: rotate(-45deg);
}
.modal-map{
	width: 765px;
	height: 560px;
	margin-top: -280px;
	margin-left: -335px;
	z-index: 50;
	border: 7px solid #ffffff;

}
.overlay{
	display: none;
	position: fixed;
	top: 0;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 10;
	background: rgba(0, 0, 0, 0.5);
}

.modal-show{
	display: block !important;
}
.news{
	margin-left: 10px;
}
.news .first-img{
	width: 300px;
}
.news .flex-container{
	display: flex;
}
.news .flex-container div{
	width: 100px;
	margin-left: 5px;
}
.news .flex-container div:first-child{
	margin-left: 0px;
}
.news img{
	width: 100%;
}
.news-description{
	width: 500px;
}
.news time{
	font-weight: normal;
}
.registration{
	padding-top: 50px;
	width: 350px;
}
.registration input{
	position: absolute;
	outline: none;
	right: 0px;
	border: 2px solid #000000;
	padding-left: 5px;
}
.registration input:focus{
	border: 2px solid #663d15;
}
.registration label, .registration div{
	font-size: 16px;
	position: relative;
	display: block;
	margin-bottom: 30px;
}
.registration sup{
	color: red;
}
.registration button{
	margin-top: 20px;
	width: 100%;
}
.registration .error{
	color: red;
}
.order-prod-info p{
	position: relative;
	font-size: 16px;
	width: 500px;
}
.order-prod-info p:first-child{
	margin-bottom: 50px;
}

.order-prod-info p span{
	position: absolute;
	font-size: 14px;
	margin-left: 100px;
	right: 0px;
}
.order-prod-info p .price{
	right: 200px;
}
.private-office{
	position: relative;
}
.office-menu{
	margin-top: 20px;
}
.profile, .orders, .records{
	margin-top: 20px;
	display: none;
}
.profile{
	display: block;
}


